<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <machineKey
      decryption="AES"
      decryptionKey="BA8339B1009ABAB849E6F36978056A3615676FE5B59731623D79DD44AC45F85A"
      validation="SHA1"
      validationKey="2F0137EA1C2295EE0B8503CA7B16729C5A29C1E9E433344E7F4DCB6843D0BE5D0F009CF898652EE52DA38C3ACCC3A87EFF5A5EE052B77404B460BA792DC6CAF1" />
  </system.web>
  <appSettings>
    <add key="Its.Configuration.Settings.Precedence" value="local|internal" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
